po/*.gmo
Makefile
.*
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
build/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
panel-plugin/Makefile.in
panel-plugin/hamster.c
panel-plugin/hamster.desktop
panel-plugin/hamster.h
panel-plugin/libhamster.la
panel-plugin/libhamster_la-button.lo
panel-plugin/libhamster_la-hamster.lo
panel-plugin/libhamster_la-plugin.lo
panel-plugin/libhamster_la-settings.lo
panel-plugin/libhamster_la-util.lo
panel-plugin/libhamster_la-view.lo
panel-plugin/libhamster_la-windowserver.lo
panel-plugin/windowserver.c
panel-plugin/windowserver.h
panel-plugin/xfce4-popup-hamstermenu
po/Makefile.in
po/POTFILES
po/stamp-it
stamp-h1
